<p>heroes-list works!</p>
<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>


<!-- botonera de acciones: añadir, editar, borrar -->

<!-- buscador :   input nombre heroe/alias   . select multiseleccionable habilidad -->


<!-- tabla paginada -->


<ng-container *ngIf="superheroes.length>0">

  <table mat-table [dataSource]="superheroes" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{ 'LIST.NAME' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef> {{ 'LIST.ALIAS' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
    </ng-container>
    <ng-container matColumnDef="universe">
      <th mat-header-cell *matHeaderCellDef> {{ 'LIST.UNIVERSE' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.universe}} </td>
    </ng-container>
    <ng-container matColumnDef="abilities">
      <th mat-header-cell *matHeaderCellDef> {{ 'LIST.ABILITIES' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.abilities}} </td>
    </ng-container>

    <ng-container matColumnDef="images">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="'http://localhost:3000/images/' + element.images[0]" alt="{{element.images[0]}}"  height="100">
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>
