
<form [formGroup]="form">

  <div class="container-form">
  <mat-form-field>
    <input matInput appUppercase formControlName="nameControl" (dblclick)="onDblClick($event)"
      placeholder="name or alias">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Universe</mat-label>
    <mat-select formControlName="universeControl" (closed)="onSelectClosed()">
      <mat-option *ngFor="let universe of universeKeys" [value]="universe">
        {{ universe | titlecase }}
      </mat-option>
      <mat-option value="">All</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Select abilities</mat-label>
    <mat-select formControlName="abilitiesControl" multiple (closed)="onSelectClosed()">
      <mat-option *ngFor="let abilities of abilitiesKeys" [value]="abilities">
        {{ abilities | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
</form>

<div class="button-container">
  <button mat-raised-button color="accent">New hero</button>
</div>

<!-- <pre> {{form.value |json}} </pre> -->




